site_name: Lanim
site_url: https://decorator-factory.github.io/lanim
edit_uri: https://github.com/decorator-factory/lanim/tree/master/mkdocs/docs
repo_url: https://github.com/decorator-factory/lanim

nav:
  - Home: index.md
  - Tutorial:
    - Installation: tutorial/installation.md
    - Hello, Î»anim!: tutorial/hello/index.md
    - How does Lanim work?: tutorial/how-does-lanim-work/index.md
    - The coordinate system: tutorial/coordinates/index.md
  - Reference:
    - core: reference/core.md

theme:
  name: material

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - smarty
  - admonition
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
            rendering:
              show_root_heading: true
              show_if_no_docstring: true
              show_signature_annotations: true
              members_order: source